{% load staticfiles %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta name="theme-color" content="orange" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

    <title>{% block title %}
{% endblock%}</title>
<body>
    <section class="top">
        <nav class="nav">
            <div class="navdiv">
            <span class="header_font">Fasinger</span>
        </div>
        </nav>
    
        <main class=main>
            {% block content %}

            {% endblock %}
        </main>
    </section>
    {% block script %}
    
    {% endblock %}
</html>
