{% extends 'base.html' %}

{% block title %}
Fasinger
{% endblock title %}

{% block content %}
<section class="home_section">

    <div class="left">
        <div class="left-content">
            left content
        </div>

    </div>

    <div class="middle">
        {% for p in photos %}
            <article class="article">
                    <header class="img_header">
                        <div class="img_header_title">
                        <h4>Uploaded By {{p.upload_by}}</h4>
                        <p class="times"> {{p.created_date.date}} at {{ p.created_date.time }}</p>
                        </div>
                    </header>
                    
                    <div class="img_content">
                        <a href="{{ p.original_photo.url }}">
                                <img src="{{ p.photo.url }}" class="m_img">
                        </a>
                    </div>

                    <div class="img_footer">
                        <div class="comment_box">
                                {% csrf_token %}
                                {{cmt.comment}}
                                <inpsut type="button" value="post" class="post-btn" imgid="{{p.id}}" >
                        </div>            
                        <div class="comments">
                            {% for c in comments %}
                                {% if p.photo_id == c.id %}
                                <p>{{ c.comment }}</p><br>
                                {% endif %}
                                {% endfor %}
                        </div>    
                    </div>
            </article>
        {% endfor %}
    </div>
    
    <div class="right">
        <div class="right-content">
            Right content
        </div>        
    </div>

</section>
{% endblock %}


{% block script %}
<script type="text/javascript">

    /*
    console.log("hello world");
    $(window).load(function(){
        var w = $(window).width()
        if(w<700){
            $('.home_section').addClass('.home_section_small')      
        }
    });

    $(window).resize(function(){

        var w = $(window).width()
        if(w<700){
            $('.home_section').addClass('.home_section_small')
        }
    });*/





    $(document).ready(function($) {


/*        var wrap = $(".home_section");
        wrap.on("scroll", function(e) {
            console.log('scrolll')
          if (this.scrollTop > 10) {
            $('.left-content').addClass("fix_side");
          } else {
            $('.left-content').removeClass("fix_side");
          }
        });
*/
        var fix = $('.main').offset().top;
        $(window).scroll(function(){

            var currentScroll = $(window).scrollTop();
            if(currentScroll>=fix){
                $('.left-content').addClass('fix_side')
                $('.right-content').addClass('fix_side')
            }
            else{
                $('.left-content').removeClass('fix_side')
                $('.right-content').removeClass('fix_side')
            }
        })


        var alterClass = function() {
          var ww = document.body.clientWidth;
          if (ww < 1100) {
              
            $('.home_section').addClass('home_section_small');
            $('.left').hide()
            $('.right').hide()
          } else if (ww > 1100) {
              
            $('.home_section').removeClass('home_section_small');
            $('.left').show()
            $('.right').show()
          };
        };
        $(window).resize(function(){
          alterClass();
        });
        //Fire it when the page first loads:
        alterClass();
      });


</script>
{% endblock %}